@model FideGames.Models.Users

@{
    ViewBag.Title = "Cambio de Con";
    Layout = "~/Views/Shared/_LayoutAdmin.cshtml";
}

@if (ViewBag.error == "" | ViewBag.error == null)
{

}
else
{
    <div class="alert alert-danger alert-dismissible fade show" role="alert">
        <button type="button" class="close" data-dismiss="alert">x</button>
        <strong>Error!</strong>
        <span class="aria-hidden">@Html.ViewBag.error</span>
    </div>

}

@using (Html.BeginForm("ChangePassword", "Home", FormMethod.Post))
{
    @Html.AntiForgeryToken()

    <div class="card">
        <div class="container py-5 h-100">
            <div class="row d-flex justify-content-center align-items-center h-100">
                <div class="col-12 col-md-8 col-lg-6 col-xl-5">

                    <div class="form-horizontal">
                        <h3>Cambio de Contraseña</h3>
                        <hr />
                        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                        @Html.HiddenFor(model => model.userId)
                        @Html.HiddenFor(model => model.userName)
                        @Html.HiddenFor(model => model.user_active)
                        @Html.HiddenFor(model => model.employeeId)


                        <div class="col-md-12  mb-2">
                            <label lass="sr-only">Usuario: </label>
                            <div class="">
                                <input disabled class="form-control" id="colFormLabel" placeholder="@Html.DisplayFor(model => model.userName)">
                            </div>
                        </div>

                        <div class="col-md-12  mb-2">
                            <label lass="sr-only">Nueva Contraseña: </label>
                            <div class="">
                                @Html.PasswordFor(m => m.password, new { @class = "form-control" })
                                @Html.ValidationMessageFor(model => model.password, "", new { @class = "text-danger" })
                            </div>
                        </div>

                    </div>

                    <div class="col-md-12 mt-4 mb-2">
                        <button class="btn btn-primary btn-lg btn-block" type="submit">Guardar</button>
                    </div>

                    <div class="col-md-12  mb-2">
                        @Html.ActionLink("Vovler al Inicio", "Index")
                    </div>

                </div>
            </div>
        </div>
    </div>
}
