@model FideGames.Models.invoice_detail

@{
    ViewBag.Title = "Add";
    Layout = "~/Views/Shared/_LayoutAdmin.cshtml";
}

@if (ViewBag.exito == "" | ViewBag.exito == null)
{

}
else
{
    <div class="alert alert-success alert-dismissible fade show" role="alert">
        <button type="button" class="close" data-dismiss="alert">x</button>
        <span class="aria-hidden">@Html.ViewBag.exito</span>
    </div>

}
@if (ViewBag.error == "" | ViewBag.error == null)
{

}
else
{
    <div class="alert alert-danger alert-dismissible fade show" role="alert">
        <button type="button" class="close" data-dismiss="alert">x</button>
        <span class="aria-hidden">@ViewBag.error</span>
    </div>

}

<div class="card-body card shadow mb-4">
    <style>
        .card-title {
            padding-bottom: 15px;
            background: #040FD9;
            color: #fff;
            padding: 16px 30px;
            min-width: 100%;
            margin: -20px -25px 10px;
            border-radius: 3px 3px 0 0;
        }
    </style>
    <div class="card-title">
        <div class="row">
            <div class="col-sm-6">
                <h2>Incluir Producto a Factura</h2>
            </div>
        </div>
    </div>
    @using (Html.BeginForm("Add", "Invoice", FormMethod.Post))
    {
        @Html.AntiForgeryToken()

        <div class="form-horizontal">
            @Html.ValidationSummary(true, "", new { @class = "text-danger" })

            <div class="form-group">
                <div class="col-md-10">
                    <label class="text-dark">Factura</label>
                    <input disabled class="form-control" id="id_invoice" placeholder="FE-001-@ViewBag.InvoiceNumber">
                    @Html.HiddenFor(Model => Model.id_invoice, new { @Value = ViewBag.InvoiceNumber })

                </div>
            </div>

            <div class="form-group">
                <div class="col-md-10">
                    <label class="text-dark">Producto</label>
                    @Html.DropDownListFor(model => model.product_id, (IEnumerable<SelectListItem>)ViewBag.Product, htmlAttributes: new { @class = "form-control" })
                    @Html.ValidationMessageFor(model => model.product_id, "", new { @class = "text-danger" })
                </div>
            </div>

            <div class="form-group">
                <div class="col-md-10">
                    <label class="text-dark">Cantidad</label>
                    @Html.EditorFor(model => model.quantities, new { htmlAttributes = new { @class = "form-control" } })
                    @Html.ValidationMessageFor(model => model.quantities, "", new { @class = "text-danger" })
                </div>
            </div>


            <div class="form-group">
                <div class="col-md-offset-2 col-md-10">
                    <input type="submit" value="Incluir Producto" class="btn btn-primary mr-2" />
                </div>
            </div>
        </div>


    }
    <div>
        @Html.ActionLink("Volver a las Facturas", "Index")
    </div>

</div>

